{% extends 'users/users.html' %}
{% block title %}Activities{% endblock %}
{% block header %}Activities{% endblock %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'users/css/style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'activity/css/style.css' %}" type="text/css">
{% endblock %}

{% block list-header %}Activity List{% endblock %}
{% block list-content %}
    {% for activity in activities %}
            <div class="list-item">{{activity.log}}</div>
    {% endfor %}
{% endblock %}