{% extends 'users/users.html' %}
{% block title %}Servers{% endblock %}
{% block header %}Servers{% endblock %}

{% block list-header %}Server List{% endblock %}
{% block list-content %}
    {% for server in servers %}
            <div class="list-item">{{server.address}}</div>
    {% endfor %}
{% endblock %}

{% block main-content-header %}Add Server{% endblock %}
{% block form-groups %}
    <div class="form-group">
        <label for="address">Server Address</label>
        <input type="text" id="address" placeholder="Enter server address">
    </div>
    <div class="form-group">
        <label for="address">Server Port</label>
        <input type="number" min="1000" max="9999" id="address" placeholder="Enter server port">
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter username for authentication">
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter password for authentication">
    </div>
{% endblock %}

{% block submit-btn %}Add Server{% endblock %}