{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" type="text/css">
    {% block style %}{% endblock %}
</head>
<body>
    <div class="container">
        <header style="position:relative;">
            <h1>{% block header %}Dashboard{% endblock %}</h1>
            <a href="{% url 'dashboard' %}" style="position:absolute; top: 0; right: 0;">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Home"
                style="width:35px;filter:invert(80%)">
            </a>
        </header>
    
        <div class="dashboard-stats">
            <a href="{% url 'users' %}" class="stat-card" id="blue">
                <img src="https://images.icon-icons.com/154/PNG/512/users_21945.png" alt="User Icon">
                <div class="stat-desc">
                    <h2>Users</h2>
                    <span class="stat-value">Total Users: 1,234</span>
                </div>
            </a>
            
            <a href="{% url 'servers' %}" class="stat-card" id="green">
                <img src="https://static-00.iconduck.com/assets.00/server-icon-2048x2048-7fmqupyo.png" alt="Server Icon">
                <div class="stat-desc">
                    <h2>Servers</h2>
                    <span class="stat-value">Active Servers: 45</span>
                </div>
            </a>
            
            <a href="{% url 'activity' %}" class="stat-card" id="purple">
                <img src="https://cdn-icons-png.flaticon.com/512/17822/17822214.png" alt="Activity Icon">
                <div class="stat-desc">
                    <h2>Activity Pools</h2>
                    <span class="stat-value">Ongoing Activities: 7</span>
                </div>
            </a>
        </div>
    </div>
    <hr>
    {% block content %}
    <div class="lisa-section">
        <h2>LISA</h2>
        <p>
            LISA is a system that simulates realistic user behavior within an isolated training infrastructure of a cyber range. The purpose of the system is to create a background of "peaceful" activity that enables conducting detection and incident analysis training in conditions close to real ones.
        </p>
    </div>
    {% endblock %}
</body>
</html>
