{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="favicon" href="{% static 'dashboard/images/logo.svg' %}">
    <link rel="icon" href="{% static 'dashboard/images/logo.svg' %}">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-bash.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% block style %}{% endblock %}
</head>

<body>
    <div class="container">
        <header style="position:relative;">
            <h1>{% block header %}Dashboard{% endblock %}</h1>
        </header>

        <div class="dashboard-stats">
            <a href="{% url 'dashboard' %}" class="stat-card"
                style="background: linear-gradient(90deg, #f75555, #ce2222);">
                <i class="fa-solid fa-house fa-2xl" style="color:aliceblue"></i>
                <h2 id="home-text">Dashboard</h2>
            </a>
            <a href="{% url 'agents' %}" class="stat-card"
                style="background: linear-gradient(90deg, #A855F7, #7E22CE);">
                <i class="fa-solid fa-users fa-2xl" style="color:aliceblue"></i>
                <div class="stat-desc">
                    <h2>Agents</h2>
                </div>
            </a>

            <a href="{% url 'servers' %}" class="stat-card"
                style="background: linear-gradient(90deg, #3B82F6, #1D4ED8);">
                <i class="fa-solid fa-server fa-2xl" style="color:aliceblue"></i>
                <div class="stat-desc">
                    <h2>Servers</h2>
                </div>
            </a>

            <!-- <a href="{% url 'activities' %}" class="stat-card" style="background: linear-gradient(90deg, #c2c522, #807c15);">
                <i class="fa-solid fa-laptop-code fa-2xl" style="color:aliceblue"></i>
                <div class="stat-desc">
                    <h2>Activities</h2>
                </div>
            </a> -->

            <a href="{% url 'roles' %}" class="stat-card" style="background: linear-gradient(90deg, #22C55E, #15803D);">
                <i class="fa-solid fa-list fa-2xl" style="color:aliceblue"></i>
                <div class="stat-desc">
                    <h2>Roles</h2>
                </div>
            </a>
        </div>
    </div>
    <hr>
    {% block content %}
    <div class="lisa-section">
        <div class="subsection">
            <h2>LISA</h2>
            <p>
                LISA is a system that simulates realistic user behavior within an isolated training infrastructure of a
                cyber range. The purpose of the system is to create a background of "peaceful" activity that enables
                conducting detection and incident analysis training in conditions close to real ones.
            </p>
        </div>
        <div class="subsection">
            <h2>Usage</h2>
            <p>Cloning the project:</p>
            <pre><code class="language-bash">
git clone https://github.com/illmilo/lisa.git
            </pre></code>
            <!-- some bash code -->
            <p>Running database:</p>
            <pre><code class="language-bash">
docker-compose up -d
cd backend
alembic stamp head
alembic revision --autogenerate -m "Initial database migration"
alembic upgrade head
            </code></pre>
            <p>Running FastAPI backend:</p>
            <pre><code class="language-bash">
cd backend
uvicorn app.main:app --reload
            </pre></code>
            <p>Running frontend (if not using <a href="https://cyberlisa.vercel.app">cyberlisa.vercel.app</a>):</p>
            <pre><code class="language-bash">
cd frontend
python -m pip install -r requirements.txt
python manage.py runserver 8001
            </pre></code>
        </div>
    </div>
    {% endblock %}

    {% block script %}{% endblock %}
</body>

</html>